<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="CustomerDB">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">es_dev</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@10.64.70.99:1530:estoreT3</property>
        <property name="hibernate.connection.username">es_dev</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="CrossCooperationMapping" />
        <mapping class="Acc2giftLog" />
        <mapping class="CrossCooperation" />
    </session-factory>
</hibernate-configuration>
